@page "/Admin"
@model AdminModel
@{
}
<div class="container">
    <div class="text-center">
        <p class="h2">Categories</p>
        <a asp-area="" asp-controller="Category" asp-action="Create">Create new category</a>
    </div>
</div>
